QDialog {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 #4F74BE, stop:1 #BFD0DA);
} 

QGroupBox {
    color:#DA1F05;
    background-color: rgba(0,0,0,0%);
    border-style: outset; 
    border-width: 1px; 
    border-radius: 0px; 
    border-color:steelblue;
} 

QLabel {
    color:#28345A; 
    background-color: rgba(0,0,0,0%);
    border-style: outset; 
    border-width:0px;
    border-radius: 0px;
} 

QLineEdit {
    color:#ffffff; 
    background-color: #ffffff; 
    border-style: outset; 
    border-width: 2px; 
    border-radius: 10px; 
    border-color:black; 
    color: #28345A; 
}

QLineEdit:hover {
    background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4, radius: 1.35, stop: 0 #fff, stop: 1 #bbb); 
}

QLineEdit:pressed {
    border-style: inset; 
    background: qradialgradient(cx: 0.4, cy: -0.1, fx: 0.4, fy: -0.1, radius: 1.35, stop: 0 #fff, stop: 1 #ddd);
}
 
QRadioButton {
    color:#28345A; 
    background-color: rgba(0,0,0,0%);
    border-style: outset; 
    border-width: 0px; 
    border-radius: 0px;
} 

QCheckBox { 
    color:#28345A; 
    background-color: rgba(0,0,0,0%);
    border-style: outset; 
    border-width: 0px; 
    border-radius: 0px;
} 

QComboBox { 
    border-style: outset; 
    border-width: 1px; 
    border-radius: 5px; 
    border-color:black; 
    background-color: rgb(198, 207, 199); 
    color: #28345A;
} 

QDoubleSpinBox {
    border-style: outset; 
    border-width: 1px; 
    border-radius: 5px; 
    border-color:black; 
    background-color: rgb(198, 207, 199); 
    color: #28345A;
} 

QSpinBox {
    border-style: outset; 
    border-width: 1px; 
    border-radius: 5px; 
    border-color:black; 
    background-color: rgb(198, 207, 199); 
    color: #28345A;
} 

QDateTimeEdit {
    border-style: outset; 
    border-width: 2px; 
    border-radius: 10px; 
    border-color:black; 
    background-color: rgb(198, 207, 199); 
    color: #28345A; 
} 

QPushButton {
    background-color: #A62C2B; 
    border-style: outset; 
    border-width: 2px; 
    border-radius: 10px; 
    border-color: #BC2120; 
    color:#ffffff; 
}

QPushButton:hover {
    background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4, radius: 1.35, stop: 0 #A62C2B, stop: 1 #E90B0B); 
}

QPushButton:pressed {
    border-style: inset; 
    background: qradialgradient(cx: 0.4, cy: -0.1, fx: 0.4, fy: -0.1, radius: 1.35, stop: 0 #E90B0B, stop: 1 #A62C2B);
} 